@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'Inter', serif;

  background: linear-gradient(135deg, #fffdfd 0%, #f8edeb 100%);

  width: 100%;
  min-height: 100vh;  
}

.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.search-form p {
  color: red;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
  padding-left: 0.3rem;
}

.search-form input {
  width: 100%;
}

/* main section */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background: linear-gradient(145deg, #fbf0e7 0%, #ffd2b3 100%);   
  border-radius: 12px;
  padding: 2.5rem 4rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

#city-search {
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid black;
  font-size: 1rem;
}

#submit-btn {
  background: rgba(77, 165, 77, 0.808);
  color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

#submit-btn:hover {
  background: rgb(77, 165, 77);
}

#submit-btn:active {
  transform: scale(0.97);
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.card-text h2 {
  font-size: 2.5rem;
  color: rgb(50, 50, 50);   
}

.card-text p {
  font-size: 1.1rem;
  font-weight: 500;
}

.card-text h3 {
  font-style: italic;
  font-weight: 600;
  font-size: 1.3rem;
}

.emoji-wrapper p {
  font-size: 5rem;
}